.ty{
    height: 140px;
    background-color: black;
    width: 1400px;
}
.ti{
    background-color: darkgoldenrod;
    width: 1400px;
}
table{
    border-color: black;
}
.ok{
    margin-left: 520px;
}
.oj{
    text-decoration: none;
    color: inherit;
  }
.oj:hover{
    text-decoration: none;
    color: inherit;
  }
  